body {
      font-family: Arial, sans-serif;
      background: #f4f6f8;
      padding: 20px;
    }

    h1 {
      text-align: center;
    }

    .container {
      max-width: 500px;
      margin: auto;
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    label {
      font-weight: bold;
      display: block;
      margin-top: 15px;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      font-size: 16px;
    }

    button {
      margin-top: 20px;
      width: 100%;
      padding: 12px;
      font-size: 16px;
      background: #B02121;
      border: none;
      color: white;
      border-radius: 6px;
      cursor: pointer;
    }

    button:hover {
      background: #5b1111;
    }

    .resultado {
      margin-top: 20px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }

    a{
        text-decoration: none;
        color: white;
    }

    a:hover{
        text-decoration: underline;
        color: white;
    }